<% include header.ejs %>
<% include nav.ejs %>
<div class="page-hero" style="background-image:url('http://s1.1zoom.net/big7/392/Pictorial_art_Autumn_427595.jpg')">
        <h1 id="browseh">BROWSE BOOKS</h1>
</div>

<div class = "ui container">
    <form action="/" method="POST">
      <input type="text" name="search" placeholder="Search.." required>
      <input type="submit" value="Search">
    </form>
    <% for(var i = 0; i < info.length; i++){ %>
    <div class="ui grid">
        <div class="column four wide">
            <div class="ui card" id="weblinks">
                <div class="image">
                    <img src = "<%= info[i].thumbnail %>"/>
                </div>
                <div class="content">
                    <div class="header">
                        <h1 class="ui small header title"><%= info[i].title %></h1>
                    </div>
                    <div class="meta">
                        <p>Author: <%= info[i].authors %></p>
                        <p>Published on: <%= info[i].publishedDate %></p>
                        <p>Pages: <%= info[i].pageCount %></p>
                    </div>
                </div>
                <div class="content extra">
                    <button class="ui button fluid">View Detail</button>
                    <button class="ui button fluid" type="button" name="button">Borrow</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>

<% include footer.ejs %>