<% include header.ejs %>
<% include nav.ejs %>
<div class="page-hero" style="background-image: url('autumn.jpg'); width: 100%;"><!-- only uses a.jpg instead of ../public/a.jpg because the express serve static uploaded the public folder's files onto the site already (check https://book-club-elisal.c9users.io/a.jpg) -->
    <h1 id="eachTitle">BROWSE BOOKS</h1>
</div>
<iframe name="target" style="display: none;"></iframe>
<div class = "ui container">
    <% for(var i = 0; i < info.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <form method="POST" action="" target="target">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= info[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= info[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= info[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= info[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= info[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= info[i].pageCount %>" readonly name="pages"></div><br>
                            <div class="des">Rating:<input class="desc" value="<%= info[i].rating %>" readonly name="pages"  style="display: none">
                            <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= info[i].rating * 26.5 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <a class="detail ui basic button fluid" >View Detail</a>
                        <% if(authenticated){ %>
                            <button class="add ui basic button fluid" type="submit" name="button" id="<%= info[i].title %>">Request</button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="modaldiv" class="ui modal" style="position: relative">
            <i class="close icon"></i>
            <div class="header"><%=info[i].title%></div>
            <div class="content"><input value="<%=info[i].description%>" readonly name=description></div>
        </div><!-- Should be out side of the book info div -->
    </form>
    <% } %>
</div>

<% include footer.ejs %>