<% include header.ejs %>
<% include nav.ejs %>
<div class="page-hero" style="background-image: url('004.jpg'); width: 100%;"><!-- only uses a.jpg instead of ../public/a.jpg because the express serve static uploaded the public folder's files onto the site already (check https://book-club-elisal.c9users.io/a.jpg) -->
    <h1 id="eachTitle">MY PROFILE</h1>
</div>
<div class="ui container">
    <div class="profile-menu">
        <% for(var i = 0; i < profile.length; i++){ %>
            <h1 style="display: inline"> <%=profile[i].username%></h1> <button class="change">Change</button><br>
            <i aria-hidden="true" class='open envelope icon'></i> <h3 style="display: inline"> <%=profile[i].email%></h3><br>
            <i aria-hidden="true" class='marker icon'></i> <h3 style="display: inline"> <%=profile[i].location%></h3><br>
            <div id="modaldiv" class="ui modal" style="position: relative">
                <form method = "POST" action="">
                    <i class="close icon"></i>
                    <div class="header">Username: <input value="<%=profile[i].username%>"></input></div>
                    <div class="content">Password: <input value="<%=profile[i].password%>"></input><br>Location: <input value="<%=profile[i].location%>"></input></div>
                    <div class="actions">
                        <div class="ui button">
                            Cancel
                        </div>
                        <div class="ui button">
                            Ok
                        </div>
                    </div>
                </form>
            </div><!-- Should be out side of the book info div -->
        <% } %>
    </div>
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="mine"><%=info.length%> My Books</a>
        <a class="item" data-tab="requested"><%=requested.length%> Requested Books</a>
        <a class="item" data-tab="borrowed"><%=borrowed.length%> Borrowed Books</a>
        <a class="item" data-tab="requestes"><%=requests.length%> Requests For You</a>
        <a class="item" data-tab="lent"><%=lent.length%> Lent Books</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="mine">
        <% for(var i = 0; i < info.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= info[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= info[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= info[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= info[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= info[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= info[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <a href="<%= info[i].link %>" target="_blank" class="detail ui button basic fluid">View Details</a>
                        <button class="delete ui button basic red fluid" id="<%= info[i].title %>">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="requested">
        <% for(var i = 0; i < requested.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= requested[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= requested[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= requested[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= requested[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= requested[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= requested[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <a href="<%= requested[i].link %>" target="_blank" class="detail ui button basic fluid">View Details</a>
                        <button class="delete-request ui button basic red fluid" id="<%= requested[i].title %>">Delete Request</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="borrowed">
        <% for(var i = 0; i < borrowed.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= borrowed[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= borrowed[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= borrowed[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= borrowed[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= borrowed[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= borrowed[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <a href="<%= borrowed[i].link %>" target="_blank" class="detail ui button basic fluid">View Details</a>
                        <button class="return ui button basic blue fluid" id="<%= borrowed[i].title %>">Return</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="requestes">
        <% for(var i = 0; i < requests.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= requests[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= requests[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= requests[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= requests[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= requests[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= requests[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="allow ui button basic green fluid" id="<%= requests[i].title %>">Allow</button>
                        <button class="ignore ui button basic red fluid" type="submit" name="button" id="<%= requests[i].title %>">Ignore</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="lent">
        <% for(var i = 0; i < lent.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= lent[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= lent[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= lent[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= lent[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= lent[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= lent[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="take-back ui button basic red fluid" id="<%= lent[i].title %>">Take Back</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
</div>
<% include footer.ejs%>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click', '.change', function(){
        $('.ui.modal').modal({
            blurring: true
          }).modal('show');
    });
    $('.top.menu .item').tab();
    $('.delete').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "Book": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.delete-request').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "requested": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.ignore').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "requested": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.allow').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "allow": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.return').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "return": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.take-back').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "return": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
})
  </script>
  </body>
</html>