<% include header.ejs %>
<% include nav.ejs %>
<div class="page-hero" style="background-image: url('004.jpg'); width: 100%;"><!-- only uses a.jpg instead of ../public/a.jpg because the express serve static uploaded the public folder's files onto the site already (check https://book-club-elisal.c9users.io/a.jpg) -->
    <h1 id="eachTitle">MY PROFILE</h1>
</div>
<div class="ui container">
    <div class="">
        
    </div>
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="mine">My Books</a>
        <a class="item" data-tab="requested">Requested Books</a>
        <a class="item" data-tab="borrowed">Borrowed Books</a>
        <a class="item" data-tab="requestes">Requestes For You</a>
        <a class="item" data-tab="lent">Lent Books</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="mine">
        <% for(var i = 0; i < info.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= info[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= info[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= info[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= info[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= info[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= info[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="detail ui button basic fluid" id="<%= info[i].title %>">View Details</button>
                        <button class="delete ui button basic red fluid" id="<%= info[i].title %>">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="requested">
        <% for(var i = 0; i < requested.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= requested[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= requested[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= requested[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= requested[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= requested[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= requested[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="detail ui button basic fluid" id="<%= requested[i].title %>">View Detail</button>
                        <button class="delete-request ui button basic red fluid" id="<%= requested[i].title %>">Delete Request</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="borrowed">
        This is some text
    </div>
    <div class="ui bottom attached tab segment" data-tab="requestes">
        <% for(var i = 0; i < requests.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= requests[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= requests[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= requests[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= requests[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= requests[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= requests[i].pageCount %>" readonly name="pages"></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="allow ui button basic green fluid" id="<%= requests[i].title %>">Allow</button>
                        <button class="ignore ui button basic red fluid" type="submit" name="button" id="<%= requests[i].title %>">Ignore</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="lent">
        This is some text
    </div>
    
</div>
<% include footer.ejs%>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click', '#detail', function(){
        $('.ui.modal').modal({
            blurring: true
          }).modal('show');
    });
    $('.top.menu .item').tab();
    $('.delete').click(function(){
            if(confirm('Are you sure you want to delete this book')){
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "Book": $(this).attr("id")
                },
                success: function(result){
                    alert("Book removed");
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
        }
    });
    $('.delete-request').click(function(){
            if(confirm('Are you sure you want to delete the request of this book')){
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "requested": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                    alert("Request removed");
                }
            });
        }
    });
    $('.ignore').click(function(){
            if(confirm('Are you sure you want to ignore this request')){
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "requested": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                    alert("Request ignored");
                }
            });
        }
    });
})
  </script>
  </body>
</html>