<% include header.ejs %>
<% include nav.ejs %>
<div class="page-hero" style="background-image: url('004.jpg'); width: 100%;"><!-- only uses a.jpg instead of ../public/a.jpg because the express serve static uploaded the public folder's files onto the site already (check https://book-club-elisal.c9users.io/a.jpg) -->
    <h1 id="eachTitle">MY PROFILE</h1>
</div>
<div class="ui container">
    <div class="profile-menu">
        <% for(var i = 0; i < profile.length; i++){ %>
            <h1 style="display: inline"> <%=profile[i].username%></h1> <button class="change"><i aria-hidden="true" class='edit icon'><h4 style="display: inline">Edit</h4></i></button><br>
            <i aria-hidden="true" class='open envelope icon'></i> <h3 style="display: inline"> <%=profile[i].email%></h3><br>
            <i aria-hidden="true" class='marker icon'></i> <h3 style="display: inline"> <%=profile[i].location%></h3><br>
            <div id="modaldiv" class="ui modal" style="position: relative">
                <div class="header">Edit your information</div>
                <div class="content">
                    <h1><%=profile[i].username%></h1>
                    <hr>
                    <h4 class="change-title">Password</h4> <br><input value="<%=profile[i].password%>" id="password" class="change-box"></input><br>
                    <h4 class="change-title">Email</h4> <br><input value="<%=profile[i].email%>" id="email" class="change-box"></input><br>
                    <h4 class="change-title">Location</h4> <br><input value="<%=profile[i].location%>" id="location" class="change-box"></input>
                </div>
                <div class="actions">
                    <div class="cancel ui button basic gray">
                        Cancel
                    </div>
                    <div class="ok ui button basic green">
                        Ok
                    </div>
                </div>
            </div><!-- Should be out side of the book info div -->
        <% } %>
    </div>
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="mine"><%=info.length%> My Books</a>
        <a class="item" data-tab="requested"><%=requested.length%> Requested Books</a>
        <a class="item" data-tab="borrowed"><%=borrowed.length%> Borrowed Books</a>
        <a class="item" data-tab="requestes"><%=requests.length%> Requests For You</a>
        <a class="item" data-tab="lent"><%=lent.length%> Lent Books</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="mine">
        <% for(var i = 0; i < info.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= info[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= info[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= info[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= info[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= info[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= info[i].pageCount %>" readonly name="pages"></div><br>
                            <div class="des">Rating:<input class="desc" value="<%= info[i].rating %>"  style="display: none" readonly name="pages">
                            <% if(info[i].rating == undefined){ %>
                                N/A
                            <% }else{ %>
                                <%= info[i].rating %>
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= info[i].rating * 26.5 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            <% } %></div><br>
                        </div>
                    </div>
                    <div id="modaldiv" class="ui modal info <%= info[i].title%> <%= i %>" style="position: relative">
                            <i class="close icon"></i>
                            <div class="header"><%=info[i].title%></div>
                            <div class="content">
                                <input value="<%= info[i].description%>" readonly style="display: none" name=description>
                                <%= info[i].description%>
                            </div>
                        </div><!-- Should be out side of the book info div -->
                    <div class="content extra">
                        <a class="ui button basic fluid detail" id="info <%= info[i].title%> <%= i %>">View Detail</a>
                        <button class="delete ui button basic red fluid" id="<%= info[i].title %>">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="requested">
        <% for(var i = 0; i < requested.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= requested[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= requested[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= requested[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= requested[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= requested[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= requested[i].pageCount %>" readonly name="pages"></div><br>
                            <div class="des">Rating:<input class="desc"  style="display: none" value="<%= requested[i].rating %>" readonly name="pages">
                            <% if(requested[i].rating == undefined){ %>
                                N/A
                            <% }else{ %>
                                <%= requested[i].rating %>
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= requested[i].rating * 26.5 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            <% } %></div><br>
                        </div>
                    </div>
                    <div id="modaldiv" class="ui modal requested <%= requested[i].title%> <%= i %>" style="position: relative">
                            <i class="close icon"></i>
                            <div class="header"><%=requested[i].title%></div>
                            <div class="content">
                                <input value="<%= requested[i].description%>" readonly style="display: none" name=description>
                                <%= requested[i].description%>
                            </div>
                        </div><!-- Should be out side of the book info div -->
                    <div class="content extra">
                        <a class="ui button basic fluid detail" id="requested <%= requested[i].title%> <%= i %>">View Detail</a>
                        <button class="delete-request ui button basic red fluid" id="<%= requested[i].title %>">Delete Request</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="borrowed">
        <% for(var i = 0; i < borrowed.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= borrowed[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= borrowed[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= borrowed[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= borrowed[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= borrowed[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= borrowed[i].pageCount %>" readonly name="pages"></div><br>
                            <div class="des">Rating:<input class="desc"  style="display: none" value="<%= borrowed[i].rating %>" readonly name="pages">
                            <% if(borrowed[i].rating == undefined){ %>
                                N/A
                            <% }else{ %>
                                <%= borrowed[i].rating %>
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= borrowed[i].rating * 26.5 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            <% } %></div><br>
                        </div>
                    </div>
                    <div id="modaldiv" class="ui modal borrowed <%= borrowed[i].title%> <%= i %>" style="position: relative">
                            <i class="close icon"></i>
                            <div class="header"><%=borrowed[i].title%></div>
                            <div class="content">
                                <input value="<%= borrowed[i].description%>" readonly style="display: none" name=description>
                                <%= results[i].description%>
                            </div>
                        </div><!-- Should be out side of the book info div -->
                    <div class="content extra">
                        <a class="ui button basic fluid detail" id="borrowed <%= borrowed[i].title%> <%= i %>">View Detail</a>
                        <button class="return ui button basic blue fluid" id="<%= borrowed[i].title %>">Return</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="requestes">
        <% for(var i = 0; i < requests.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= requests[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= requests[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= requests[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= requests[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= requests[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= requests[i].pageCount %>" readonly name="pages"></div><br>
                            <div class="des">Rating:<input class="desc"  style="display: none" value="<%= requests[i].rating %>" readonly name="pages">
                            <% if(requests[i].rating == undefined){ %>
                                N/A
                            <% }else{ %>
                                <%= requests[i].rating %>
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= requests[i].rating * 26.5 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            <% } %></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="allow ui button basic green fluid" id="<%= requests[i].title %>">Allow</button>
                        <button class="ignore ui button basic red fluid" type="submit" name="button" id="<%= requests[i].title %>">Ignore</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="lent">
        <% for(var i = 0; i < lent.length; i++){ %>
        <div class="ui grid">
            <div class="column four wide">
                <div class="ui card">
                    <div class="image">
                        <input value="<%= lent[i].thumbnail %>" name="image" style="display: none">
                        <img src = "<%= lent[i].thumbnail %>"/>
                    </div>
                    <div class="content">
                        <div class="header">
                            <input class="ui small header title" value="<%= lent[i].title %>" readonly name="title">
                        </div>
                        <div class="meta">
                            <div class="des">Author:<input class="desc" value="<%= lent[i].author %>" readonly name="author"></div><br>
                            <div class="des">Published on:<input class="desc" value="<%= lent[i].publishedDate %>" readonly name="date"></div><br>
                            <div class="des">Pages:<input class="desc" value="<%= lent[i].pageCount %>" readonly name="pages"></div><br>
                            <div class="des">Rating:<input class="desc"  style="display: none" value="<%= lent[i].rating %>" readonly name="pages">
                            <% if(lent[i].rating == undefined){ %>
                                N/A
                            <% }else{ %>
                                <%= lent[i].rating %>
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: <%= lent[i].rating * 26.5 + "%" %>"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            <% } %></div><br>
                        </div>
                    </div>
                    <div class="content extra">
                        <button class="take-back ui button basic red fluid" id="<%= lent[i].title %>">Take Back</button>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    
</div>
<% include footer.ejs%>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
      var pattern = new RegExp("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$");
      var pass = new RegExp("^(?=.*[A-Z])(?=.*[a-z])(?=.*?[0-9]).{6,}$");
      var bookName;
          $('.detail').click( function(){
              bookName=$(this).attr("id");
              bookName = bookName.split(" ").join(".");
              $(".ui.modal." + bookName).modal("show");
          })
    $(document).on('click', '.change', function(){
        $('.ui.modal').modal({
            blurring: true
          }).modal('show').modal('refresh');
    });
    $(document).on('click', '.cancel', function(){
        $('ui.modal').modal({
            blurring: true
        }).modal("hide")
    })
    $('.top.menu .item').tab();
    $('.ok').click(function(){
        if(pattern.test($("#email").val()) && pass.test($("#password").val()) && $("#location").val().length > 0){
            $.ajax({
                url: '/profile',
                type: 'POST',
                data: {
                    password: $("#password").val(),
                    email: $("#email").val(),
                    location: $("#location").val()
                },
                success: function(result){
                    location.reload();
                    alert("Your profile is changed")
                }
            });
        }else if(pattern.test($("#email").val()) == false && pass.test($("#password").val()) && $("#location").val().length > 0){
            alert("Your email is invalid")
        }
        else if(pass.test($("#password").val()) == false && pattern.test($("#email").val()) && $("#location").val().length > 0){
            alert("Your password has to consist of at least one uppercase and one numerical character with a minimum length of 6 characters")
        }
        else if(pass.test($("#password").val()) && pattern.test($("#email").val()) && $("#location").val().length == 0){
            alert("Your location is required")
        }
        else if(pattern.test($("#email").val()) == false && pass.test($("#password").val()) == false && $("#location").val().length > 0){
            alert("Your password and email are invalid")
        }
        else if(pattern.test($("#email").val()) == false && pass.test($("#password").val()) == false && $("#location").val().length == 0){
            alert("Your password, location and email are invalid")
        }
        
    });
    $('.delete').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "Book": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.delete-request').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "requested": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.ignore').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "requested": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.allow').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "allow": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.return').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "return": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
    $('.take-back').click(function(){
        location.reload();
            $.ajax({
                url: '/profile',
                type: 'DELETE',
                headers: {
                    "return": $(this).attr("id")
                },
                success: function(result){
                    location.reload();
                    location.reload();
                    location.reload();
                }
            });
    });
})
  </script>
  </body>
</html>