<head>
    <script
src="http://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<% include header.ejs %>
<% include nav.ejs %>
<div class="page-hero" style="background-image: url('004.jpg'); width: 100%;"><!-- only uses a.jpg instead of ../public/a.jpg because the express serve static uploaded the public folder's files onto the site already (check https://book-club-elisal.c9users.io/a.jpg) -->
    <h1 id="eachTitle">MY PROFILE</h1>
</div>
<div class="ui container">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="mine">My Books</a>
        <a class="item" data-tab="requested">Requested Books</a>
        <a class="item" data-tab="borrowed">Borrowed Books</a>
        <a class="item" data-tab="requestes">Requestes For You</a>
        <a class="item" data-tab="lent">Lent Books</a>
    </div>
    
    <div class="ui bottom attached tab segment active" data-tab="requested">
    <% for(var i = 0; i < info.length; i++){ %>
    <div class="ui grid">
        <div class="column four wide">
            <div class="ui card">
                <div class="image">
                    <img src = "<%= info[i].thumbnail %>"/>
                </div>
                <div class="content">
                    <div class="header">
                        <h1 class="ui small header title"><%= info[i].title %></h1>
                    </div>
                    <div class="meta">
                        <p>Author: <%= info[i].author %></p>
                        <p>Published on: <%= info[i].publishedDate %></p>
                        <p>Pages: <%= info[i].pageCount %></p>
                    </div>
                </div>
                <div class="content extra">
                    <button class="ui button fluid">View Detail</button>
                    <button class="ui button fluid" type="button" name="button">Borrow</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="borrowed">
        This is some text
    </div>
    <div class="ui bottom attached tab segment" data-tab="requestes">
        This is some text
    </div>
    <div class="ui bottom attached tab segment" data-tab="lent">
        This is some text
    </div>
    <div class="ui bottom attached tab segment" data-tab="mine">
        This is some text
    </div>
</div>
<% include footer.ejs%>

  <script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click', '#detail', function(){
        alert($(this).attr("class"));
        $('.ui.modal').modal({
            blurring: true
          }).modal('show');
    });
    $('.top.menu .item').tab();
})
  </script>
  </body>
</html>
